@model PortalDMPlace.Models.Account
@{
    ViewData["Title"] = "Login do GM";
    Layout = "_LayoutLogin";
}

<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-warning mb-4 text-center">Login do GM</h2>

    @if (ViewBag.Erro != null)
    {
        <div class="alert alert-danger">@ViewBag.Erro</div>
    }

    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Usuário</label>
            <input asp-for="Username" class="form-control" placeholder="Digite o usuário" />
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Senha</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Digite a senha" />
        </div>

        <button type="submit" class="btn btn-outline-warning w-100">Entrar</button>
        <a class="btn btn-outline-warning w-100" asp-controller="Home" asp-action="Index">Voltar</a>
        @* <a class="btn btn-outline-warning w-100" asp-controller="Admin" asp-action="Registrar">Registrar</a> *@
    </form>
</div>
